<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pico.css">

    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
  </head>
  <body>
    <header class="container-fluid" style="padding-top: 0;">
      <nav>
        <ul>
          <li><a href="http://">Sus-AI</a></li>
        </ul>
        <ul>
          <li>  
            <label for="switch">
              Toogle Dark Mode!
              <input type="checkbox" id="themeSwitch" name="switch" role="switch" class="darkModeSwitch">
                
            </label>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/pattern">Patterns</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/me">Me</a></li>
        </ul>
      </nav>
    </header>
    <main>

      <main aria-role="main" class="container" style="padding-top: 0;">
      {{ block "main" . }}

      {{ end }}
    <footer>
      {{ block "footer" . }}
      
      {{ end }}
    </footer>
  </body>

  <script>
    const toggleSwitch = document.getElementById('themeSwitch')

    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

    if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);

      if (currentTheme === 'dark') {
          toggleSwitch.checked = true;
      }
    } 

    function switchTheme(e) {
      if (e.target.checked) {
          document.documentElement.setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark'); 
      }
      else {
          document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light'); 
      }    
    }

    toggleSwitch.addEventListener('change', switchTheme, false);
  </script>

  <style>
    .darkModeSwitch:checked { 
      background-color: var(--background-color);
    }
  </style>
</html>