{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
        <h1>{{ .Title }}</h1>
    </header>
    <div class="homepage-content">
        <article>
            {{ .Content }}
        </article>
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>

  <style>
    h1 {
        font-weight: bold;
    }

    article { 
        max-width: 60em;
        line-height: 1.5em;
    }
  </style>
{{ end }}